<%- include('partials/header'); -%>

    <div class="container" style="background-color: white;">
      <img class="padding-3" src="<%= source %>" alt="Result">

      <table class="table">
        <thead>
          <tr class="table-primary">
            <th scope="col">#</th>
            <th scope="col">Plate</th>
            <th scope="col">Confidence</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th scope="row">1</th>
            <td><%= plate %></td>
            <td><%= confidence %></td>
          </tr>
        </tbody>
      </table>
    </div>

<%- include('partials/footer'); -%>
